// IBM Design Language Color Palette
$blue: #4178BE;
$blue-10: #C0E6FF;
$blue-20: #7CC7FF;
$blue-30: #5AAAFA;
$blue-40: #5596E6;
$blue-50: #4178BE;
$blue-60: #325C80;
$blue-70: #264A60;
$blue-80: #1D3649;
$blue-90: #152935;
$blue-100: #010205;

$green: #4B8400;
$green-10: #C8F08F;
$green-20: #B4E051;
$green-30: #8CD211;
$green-40: #5AA700;
$green-50: #4B8400;
$green-60: #2D660A;
$green-70: #144D14;
$green-80: #0A3C02;
$green-90: #0C2808;
$green-100: #010200;

$teal: #008571;
$teal-10: #A7FAE6;
$teal-20: #6EEDD8;
$teal-30: #41D6C3;
$teal-40: #00B4A0;
$teal-50: #008571;
$teal-60: #006D5D;
$teal-70: #005448;
$teal-80: #003C32;
$teal-90: #012B22;
$teal-100: #000202;

$purple: #9855D4;
$purple-10: #EED2FF;
$purple-20: #D7AAFF;
$purple-30: #BA8FF7;
$purple-40: #AF6EE8;
$purple-50: #9855D4;
$purple-60: #734098;
$purple-70: #562F72;
$purple-80: #412356;
$purple-90: #311A41;
$purple-100: #030103;

$magenta: #DB2780;
$magenta-10: #FFD2FF;
$magenta-20: #FF9EEE;
$magenta-30: #FF71D4;
$magenta-40: #FF3CA0;
$magenta-50: #DB2780;
$magenta-60: #A6266E;
$magenta-70: #7C1C58;
$magenta-80: #601146;
$magenta-90: #3A0B2E;
$magenta-100: #040102;

$red: #E71D32;
$red-10: #FFD2DD;
$red-20: #FFA5B4;
$red-30: #FF7D87;
$red-40: #FF5050;
$red-50: #E71D32;
$red-60: #AD1625;
$red-70: #8C101C;
$red-80: #6E0A1E;
$red-90: #4C0A17;
$red-100: #040001;

$orange: #FF7832;
$orange-10: #FFD4A0;
$orange-20: #FFA573;
$orange-30: #FF7832;
$orange-40: #FF5003;
$orange-50: #D74108;
$orange-60: #A53725;
$orange-70: #872A0F;
$orange-80: #6D120F;
$orange-90: #43100B;
$orange-100: #030100;

$yellow: #FDD600;
$yellow-10: #FDE876;
$yellow-20: #FDD600;
$yellow-30: #EFC100;
$yellow-40: #BE9B00;
$yellow-50: #8C7300;
$yellow-60: #735F00;
$yellow-70: #574A00;
$yellow-80: #3C3200;
$yellow-90: #281E00;
$yellow-100: #020100;

$gray: #777677;
$gray-10: #E0E0E0;
$gray-20: #C7C7C7;
$gray-30: #AEAEAE;
$gray-40: #959595;
$gray-50: #777677;
$gray-60: #5A5A5A;
$gray-70: #464646;
$gray-80: #323232;
$gray-90: #121212;
$gray-100: #000000;

$cool-gray: #6D7777;
$cool-gray-10: #DFE9E9;
$cool-gray-20: #C8D2D2;
$cool-gray-30: #AEB8B8;
$cool-gray-40: #959F9F;
$cool-gray-50: #6D7777;
$cool-gray-60: #586262;
$cool-gray-70: #3C4646;
$cool-gray-80: #323C3C;
$cool-gray-90: #0D1111;
$cool-gray-100: #000203;

$warm-gray: #7D7373;
$warm-gray-10: #E9E0E0;
$warm-gray-20: #D0C7C7;
$warm-gray-30: #B8AEAE;
$warm-gray-40: #9E9494;
$warm-gray-50: #7D7373;
$warm-gray-60: #645A5A;
$warm-gray-70: #504646;
$warm-gray-80: #3C3232;
$warm-gray-90: #1A1314;
$warm-gray-100: #030000;

$neutral-white: #FDFDFD;
$neutral-white-10: #FDFDFD;
$neutral-white-20: #F9F9F9;
$neutral-white-30: #F4F4F4;
$neutral-white-40: #ECECEC;

$cool-white: #FBFCFC;
$cool-white-10: #FBFCFC;
$cool-white-20: #F9F9FB;
$cool-white-30: #F0F2F4;
$cool-white-40: #ECF2F2;

$warm-white: #FDFBFB;
$warm-white-10: #FDFBFB;
$warm-white-20: #FDFBFB;
$warm-white-30: #F7F5F5;
$warm-white-40: #F2EEEE;

$black: #000000;
$white: #FFFFFF;
