// Core
body.watson {
  @include font-roman;
  margin: 0;
  color: $gray-70;
}

.watson * {
  box-sizing: border-box;
  outline: none;
}

.watson {
  .main-container {
    min-height: calc(100vh - #{$banner-height});
    margin-top: $banner-height;
    display: flex;
    margin-left: 60px;
  }

  [role=main] {
    padding: 1.2em;
    background-color: white;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
}
