// Animations
.watson {
  &.animate {
    .main-container.ng-enter,
    .main-container.ng-leave {
      position: absolute;
      top: $banner-height;
      left: 0;
      right: 0;
      z-index: -1;
      overflow: hidden;
      white-space: nowrap;
      width: 100vw;
      height: calc(100vh - #{$banner-height});

      @include screen-medium {
        top: 1.5 * $banner-height;
        height: calc(100vh - 1.5 * #{$banner-height});
      }
    }

    .main-container.ng-enter {
      left: -150vw;
    }

    .main-container.ng-enter-active {
      left: 0;
    }

    .main-container.ng-leave {
      left: 0;
    }

    .main-container.ng-leave-active {
      left: 150vw;
    }

    .main-container {
      @include transition(margin-left, margin-right, left);
    }
  }

  .no-animation {
    transition-duration: 0s;
  }

  .fade {
    transition: opacity .5s ease;

    &.ng-hide {
      opacity: 0;
    }
  }

  .flip {
    transform: rotate3d(1, 0, 0, 180deg);
    transform-origin: 50% 50%;
  }
}
