// Banner
.watson {

  header[role=banner] {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: none;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 1.2em 0 0;
    background-color: $cool-gray-80;
    color: $white;
    height: $banner-height;
    line-height: $banner-height;
    z-index: $z-index-banner;

    @include screen-smedium {
      flex-wrap: wrap;
      height: auto;
    }

    a {
      color: $cool-gray-20;

      &:hover,
      &:focus {
        color: $teal-40;
        text-decoration: none;
        border-bottom: 2px solid transparent;
      }
    }

    h1 {
      font-size: 1.3em;
      flex: 1 0 auto;
      margin-left: 1em;
      margin-right: 1em;
    }

    & > button.link, button.icon {
      align-self: center;
    }

    button.icon,
    button.link {
      color: $cool-gray-20;

      &:hover,
      &:focus {
        color: $teal-40;
      }
    }

    input[type=search] {
      width: 300px;
      margin-right: 100px;
      display: block;
      margin-top: .5em;
    }

    nav {
      align-self: center;
      flex: 1 0 auto;
      font-weight: bold;
      text-align: left;

      @include screen-smedium {
        margin-left: .5em;
      }

      & > ul {
        & > li {
          display: inline;
          margin-left: 3em;

          @include screen-smedium {
            margin-left: 2em;
          }

          &:first-of-type {
            margin-left: inherit;
          }
        }
      }
    }
  }
}
