// Banner
.watson {
  header[role=banner] {
    position: relative;
    display: flex;
    flex: none;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 1.2em 0 0;
    background-color: $cool-gray-80;
    color: $white;
    height: $banner-height;
    line-height: $banner-height;
    z-index: $z-index-banner;

    a {
      color: $cool-gray-20;

      &:hover,
      &:focus {
        color: $teal-40;
        text-decoration: none;
      }
    }

    h1 {
      font-size: 1.3em;
      flex: 1;
      margin-left: 1em;
    }

    button.icon,
    button.link {
      color: $cool-gray-20;

      &:hover,
      &:focus {
        color: $teal-40;
      }
    }

    input[type=search] {
      width: 300px;
      margin-right: 100px;
      display: block;
      margin-top: .5em;
    }
  }
}
