// Banner
.watson {
  header[role=banner] {
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    background-color: $gray-80;
    color: $gray-30;
    height: $banner-height;
    line-height: $banner-height;
    z-index: $z-index-banner;

    a,
    a:visited {
      color: $gray-30;

      &:hover,
      &:focus {
        color: $white;
        border: none;
      }
    }

    h1 {
      flex: 0 1 33%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      margin-left: $space-medium;

      @include screen-medium {
        flex-basis: 100%;
      }
    }

    button.icon {
      width: $banner-height;
      min-width: $banner-height;
      height: $banner-height;
      transition-duration: 0s;
      color: $gray-30;

      [class^="ibm-icon--"],
      [class^="ibm-glyph--"] {
        font-size: 24px;
      }

      &.active,
      &:focus,
      &:hover {
        color: $teal-40;
      }
    }
  }
}
