// Tags
.watson {
  .tag {
    @include tag();
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      border: 1px solid $cool-gray-70;
      color: $cool-gray-70;

      * + * {
        border-left: 1px solid $cool-gray-70;
      }
    }

    &:focus, &:active {
      border: 1px solid $teal-40;
      color: $teal-40;

      * + * {
        border-left: 1px solid $teal-40;
      }
    }

    &.confidence {
      border: 1px solid $cool-gray-20;
      color: $purple-50;

      &:hover {
        border: 1px solid $cool-gray-70;
        color: $cool-gray-70;

        * + * {
          border-left: 1px solid $cool-gray-70;
        }
      }

      &:focus, &:active {
        border: 1px solid $purple-60;
        color: $purple-60;

        * + * {
          border-left: 1px solid $purple-40;
        }
      }
    }

    * {
      display: inline-block;

      & + * {
        border-left: 1px solid $cool-gray-20;
        margin-left: .5em;
        padding-left: .5em;
      }
    }
  }
}
