/* Additional styling just for the sample pages */

.watson.style-guide .guide-row {
  padding-bottom: 2em;
  border-bottom: 1px solid #E0E0E0;
}

.watson.style-guide .guide-row:not(:first-child) {
  margin: 2em 0;
}

.watson.style-guide .grid-element {
  margin: 10px;
  height:100px;
  background-color:#ECECEC;
  border: 1px solid #C7C7C7;
}

.watson.style-guide footer .ibm-logo {
  margin-top: auto;
}

.watson.style-guide #guide-main {
  max-width: 100%;
}

.watson.style-guide #tooltip-demos {
  text-align: center;
}

.watson.style-guide #tooltip-demos .demo {
  margin-right: 25px
}

.watson.style-guide  {
  overflow-y: hidden;
}

.watson.style-guide .tabs {
  margin-bottom: 32px;
}
