<nav role="navigation" aria-label="Navigation menu">
  <button type="button" role="button" class="icon" ng-click="ctrl.toggleMenu()" title="{{ctrl.sideNavOpen ? 'Close navigation menu' : 'Open navigation menu'}}" aria-label="{{ctrl.sideNavOpen ? 'Close navigation menu' : 'Open navigation menu'}}"><span class="ibm-icon--justify" aria-hidden="true"></span></button>
  <ul role="menu" ng-show="ctrl.sideNavOpen">
    <li ng-class="[{'active': ctrl.location(link.href)}]" ng-repeat="link in links track by link.href">
      <a role="menuitem" href="{{link.href}}" title="{{link.label}}"><span class="{{link.icon}}" aria-hidden="true"></span></a>
    </li>
  </ul>
</nav>
