// Animations
.watson {
  &.animate {
    [ui-view].ng-enter,
    [ui-view].ng-leave {
      position: absolute;
      left: 0;
      right: 0;
      transition: left .5s ease-in-out;
      max-height: 98vh;
    }

    [ui-view].ng-enter {
      left: -150vw;
    }

    [ui-view].ng-enter-active {
      left: 0;
    }

    [ui-view].ng-leave {
      left: 0;
    }

    [ui-view].ng-leave-active {
      left: 150vw;
    }
  }
}
