.watson {
    h1 {
        font-size: 1.953em;
        margin: 0;
    }
    h2 {
        font-size: 1.563em;
        margin: 0;
    }
    h3 {
        font-size: 1.25em;
        margin: 0;
    }
    h4 {
        font-size: 1em;
        margin: 0;
    }
    h5 {
        font-size: 1em;
        margin: 0;
    }
    h6 {
        font-size: 1em;
        margin: 0;
    }

    p {
    	margin-bottom: 1.3em;

        code {
        	padding: 0em;
            display: inline;
            background-color: transparent;
            color: inherit;
            font-weight: 800;
        }
    }

    strong, b {
    	font-weight: 700;
    }

    em {
        font-style: italic;
    }

    small {
    	font-size: 0.8em;

        &.helper {
            font-style: italic;
        	color: $gray-50;
        }
    }

    del {
    	text-decoration: line-through;
    }

    code {
    	background-color: $cool-gray-70;
    	padding: 1em;
    	border-radius: 0;
    	font-family: $font-code;
    	color: white;
        display: block;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .error-text {
        color: $red-50;
    }

    mark {
    	background-color: $yellow-10;
    	color: $black;
    }
}
