<nav role="navigation" aria-label="{{label}}" ng-class="{'active': vm.menuOpen}">
  <!-- Menu button -->
  <button type="button" role="button" class="icon"
          ng-click="vm.toggleMenu()" title="{{label}}" aria-label="{{label}}">
    <span class="sr-only">{{label}}</span>
    <span ng-if="!vm.menuOpen" class="ibm-icon--justify" aria-hidden="true"></span>
    <span ng-if="vm.menuOpen" class="ibm-glyph--close" aria-hidden="true"></span>
  </button>

  <!-- Main menu -->
  <div ng-show="vm.menuOpen" class="menu" ng-click="vm.toggleMenu()">
    <ul role="menu" ng-show="vm.menuOpen">
      <li ng-class="[{'active-section': vm.currentSection.label == section.label}]" ng-repeat="section in vm.sections">
        <h3>
          <a ng-if="section.href" class="section-header" href={{section.href}} ng-click="vm.setCurrent(section)">
            <span ng-if="section.icon" class="{{section.icon}}" aria-hidden="true"></span>
            <span>{{section.label}}</span>
          </a>
          <div class="section-header" ng-if="!section.href">
            <div ng-if="section.icon" class="{{section.icon}}" aria-hidden="true"></div>
            <div>{{section.label}}</div>
          </div>
        </h3>
        <ul ng-if="section.links && section.links.length > 0" ng-mouseleave="vm.hoveredLink = null">
          <li ng-class="[{'active-link': vm.currentLink.href == link.href && (vm.hoveredLink == null || vm.hoveredLink == link.href), 'active-link-other-hover': vm.currentLink.href == link.href && vm.hoveredLink != link.href, 'hovered-link': vm.hoveredLink == link.href}]"
              ng-repeat="link in section.links" ng-mouseenter="vm.hoveredLink = link.href">
            <a role="menuitem" href="{{link.href}}" title="{{link.label}}" ng-click="vm.setCurrent(section, link)">
              <span>{{link.label}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="footer" ng-if="vm.footer.links && vm.footer.links.length > 0">
      <li ng-repeat="link in vm.footer.links">
        <a role="menuitem" href="{{link.href}}" title="{{link.label}}" ng-click="vm.setCurrent(null, link)">
          <span ng-if="link.icon" class="{{link.icon}}" aria-hidden="true"></span>
          <span>{{link.label}}</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Horizontal sub tabs -->
  <div class="horizontal-nav">
    <div class="{{vm.currentSection.icon}}" aria-hidden="true"></div>
    <ul ng-if="vm.currentSection.links && vm.currentSection.links.length > 0" ng-mouseleave="vm.hoveredLink = null">
      <li ng-class="[{'active-link': vm.currentLink.href == link.href && (vm.hoveredLink == null || vm.hoveredLink == link.href), 'active-link-other-hover': vm.currentLink.href == link.href && vm.hoveredLink != link.href, 'hovered-link': vm.hoveredLink == link.href}]"
          ng-repeat="link in vm.currentSection.links" ng-mouseenter="vm.hoveredLink = link.href">
        <a href="{{link.href}}" label="{{link.label}}" ng-click="vm.setCurrent(vm.currentSection, link)">
          <span ng-if="link.icon" class="{{link.icon}}" aria-hidden="true"></span>
          <span>{{link.label}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
