.watson {
  navigation {
    nav {
      display: flex;
      transition: background-color .5s ease;

      a,
      a:visited {
        position: relative;
        display: block;
      }

      // HORIZONTAL NAV
      .horizontal-nav {
        display: flex;
        height: $banner-height;
        background-color: $gray-80;
        border-left: 1px solid $gray-60;

        @include screen-smedium {
          display: none;
        }

        [class^="ibm-icon--"],
        [class^="ibm-glyph--"] {
          align-self: center;
          font-size: 24px;
          margin-left: $space-large;
          color: $teal-30;
        }

        a,
        a:visited {
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            border-radius: 3px;
            background-color: transparent;
            transition: background-color .2s ease;
          }

          &:hover {
            &::before {
              background-color: $gray-50;
            }
          }
        }

        ul {
          display: flex;

          & > li {
            margin-left: $space-large;

            &.active-link {
              a {
                color: $white;

                &::before {
                  background-color: $teal-30;
                }

                &:hover {
                  &::before {
                    background-color: $teal-30;
                  }
                }
              }
            }
          }
        }
      }

      // DROPDOWN MENU
      .menu {
        position: fixed;
        left: 0;
        top: $banner-height;
        width: $nav-menu-width;
        min-height: calc(100vh - #{$banner-height});
        background-color: $gray-90;
        color: $gray-30;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        transition: left .32s ease-out;

        &.ng-hide {
          left: -$nav-menu-width;

          &.ng-hide-add {
            transition-delay: .4s;
          }
        }

        .footer {
          margin-top: auto;
          padding: $space-medium;
          background-color: $gray-80;

          li {
            line-height: 100%;
            margin-bottom: $space-medium;

            [class^="ibm-icon--"],
            [class^="ibm-glyph--"] {
              display: inline-block;
              text-align: center;
              font-size: 16px;
              margin-right: $space-medium;
            }
          }
        }

        ul[role=menu] {
          padding: $space-medium;

          & > li {
            margin: 0;
            line-height: 100%;
            margin-bottom: $space-large;

            [class^="ibm-icon--"],
            [class^="ibm-glyph--"] {
              display: inline-block;
              text-align: center;
              font-size: 16px;
              margin-right: $space-medium;
            }

            &.active-section {
              color: $teal-30;
            }

            .section-header {
              display: flex;
            }

            li.active-link {
              a,
              a:visited {
                color: $white;

                &::before {
                  background-color: $teal-30;
                }

                &:hover {
                  &::before {
                    background-color: $teal-30;
                  }
                }
              }
            }

            li {
              margin-top: $space-medium;
              margin-left: $space-large;

              a,
              a:visited {
                padding-left: $space-medium;

                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  width: 3px;
                  height: 16px;
                  border-radius: 3px;
                  background-color: transparent;
                  transition: background-color .2s ease;
                }

                &:hover {
                  &::before {
                    background-color: $gray-60;
                  }
                }
              }
            }
          }
        }
      } // DROPDOWN MENU
    }
  }
}
