.watson {
  side-nav {
    nav {
      background-color: $gray-80;

      button.icon {
        padding: 1em 1em .5em 1.35em;
        margin: 0;
        vertical-align: top;
        color: $gray-20;

        &:hover,
        &:focus {
          color: $gray-20;
          background-color: $gray-90;
        }
      }

      ul {
        position: fixed;
        left: 0;
        top: calc(#{$banner-height} - #{$banner-border-width});
        max-width: $sidenav-width;
        min-height: calc(100vh - #{$banner-height});
        background-color: $gray-80;
        color: $cool-gray-30;
        flex-direction: column;

        @include transition(max-width);
        
        &.expanded {
          max-width: 200px;
        }

        li {
          min-height: 50px;

          &.active {
            background-color: $gray-90;
          }

          a,
          a:visited {
            display: block;
            color: $gray-20;
            padding: 1em 1em .5em 1em;
            line-height: 1.5em;
            overflow: hidden;
            white-space: nowrap;

            &:hover,
            &:focus {
              color: $gray-20;
              background-color: $gray-90;
              border-bottom: none;
            }

            & > :first-child {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
