.watson {
	button {
		font-size: 14px;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    user-select: none;
	    background-image: none;
		border-radius: 0;
	    border-width: 0;
	    margin: 0 .5em 0 0;
	    padding: .6em 1em .4em;
	    box-shadow: none;
	    line-height: 1.6em;
	    transition: all 0.2s ease;
	    background-color: $blue-50;
	    color: $white;
		cursor: pointer;

		&:not(.link) {
			min-width: 120px;
		}

		&:not([disabled]):hover,
		&:active {
			background-color: $blue-60;
		}

		&[disabled],
		&[disabled]:hover {
			opacity: .65;
			cursor: not-allowed;
		}

		&.secondary {
			background-color: $gray-10;
    		color: $gray-60;

			&:not([disabled]):hover,
			&:active {
				background-color: $gray-20;
    			color: $gray-70;
			}
		}

		&.link,
		&.close {
			background-color: transparent;
			color: $blue-50;

			&:not([disabled]):hover,
			&:active {
				color: $gray-50;
				background-color: transparent;
			}

			& [class^="ibm-icon--"],
			& [class^="ibm-glyph--"] {
				color: inherit;
			}
		}

		&.error {
			background-color: $red-60;

			&:not([disabled]):hover,
			&:active {
				background-color: $red-70;
			}
		}

		&.large {
			font-size: 1.25em;
		}

		&.small {
			padding: .4em .8em;
			font-size: 0.8em;
		}
	}
}

.watson-2016 {
	button {
		font-size: 14px;
		background-color: $teal-20;
	    border: none;
	    box-shadow: none;
	    border-radius: 20px;
	    color: $white;
	    padding: 10px 20px;
		margin: 0 .5em 0 0;
	    min-width: 120px;
	    text-align: center;
	    text-transform: none;
	    cursor: pointer;
	    overflow: hidden;
	    text-overflow: clip;
	    white-space: nowrap;
	    transition: all 1s ease;
	}

	a.button {
		font-size: 14px;
	    display: inline-block;
	    background-color: transparent;
	    border: 2px solid $teal-30;
	    border-radius: 20px;
	    box-shadow: none;
	    color: $teal-10;
		margin: 0 .5em 0 0;
	    padding: 8px;
	    min-width: 120px;
	    text-align: center;
	    text-transform: uppercase;
	    text-decoration: none;
		line-height: normal;
	    transition: all 1s ease;
	}
}
