.watson {
  .file-upload {
    border: 2px dashed #C8D2D2;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    vertical-align: middle;
    color: #5A6464;
    font-family: "HelvNeueRomanforIBM";
    font-size: .9em;
    overflow: hidden;
    transition: all .3s ease;
    position: relative;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }

    &::before {
      font-family: 'ibm-icons';
      content: '\e62b';
      margin-right: .5em;
    }
    &::after {
      content: attr(title);
      width: 100%;
    }

    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
      color: $gray-80;
    }

    &:hover,
    &:focus {
      background-color: $green-10;
      border: 2px dashed $green-50;
      color: $gray-80;
    }
  }
}


/* This awesome piece of CSS doesn't work in Firefox
because you can't use ::before and ::after on inputs */
.watson-nofirefox {
  input[type=file] {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    height: 1px;
    margin-bottom: 60px;
    font-size: 1em;
  }
  input[type="file"]:hover::after {
    background-color: $green-10;
    border: 2px dashed $green-50;
    color: $gray-80;
  }

  input[type=file]::before {
    content: '\e62b';
    display: block;
    padding: 1em;
    color: #777677;
    position: absolute;
    font-family: 'ibm-icons';
    width: 100%;
    padding-left: 25%;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
  }

  input[type=file]::after {
    content: attr(title);
    display: block;
    border: 2px dashed $gray-10;
    padding: 1em 0 1em 28%;
    width: 100%;
    color: $gray-50;
    overflow: hidden;
    font-size: 0.9rem;
    position: absolute;
    top: 0;
    margin-bottom: 60px;
    box-sizing: border-box;
  }
}
