// Buttons
.watson {
	button {
		font-size: 14px;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		user-select: none;
		background-image: none;
    border-radius: 20px;
    border: 1px solid transparent;
		margin: 0 .5em 0 0;
		padding: .5em 1em .5em;
		box-shadow: none;
		line-height: 1.6em;
		cursor: pointer;

		@include transition(all);

		& + button {
		  margin-left: 1em;
		}

		h1 {
			display: inline;
			margin-right: .5em;
		}

		&:not(.link) {
			min-width: 120px;
		}

		&[disabled],
		&[disabled]:hover {
			opacity: .65;
			cursor: not-allowed;
		}

		&.primary {
			background-color: $teal-60;
			color: $white;

			&:hover,
			&:active {
				background-color: $white;
				color: $teal-60;
				border: 1px solid $teal-60;
			}

			&[disabled]:hover {
				background-color: $teal-60;
				color: $white;
			}
		}

		&.secondary {
			background-color: $gray-10;
			color: $gray-60;

			&:hover,
			&:active {
				background-color: $white;
				color: $gray-70;
				border: 1px solid $gray-10;
			}

			&[disabled]:hover {
				background-color: $gray-10;
				color: $gray-60;
			}
		}

		&.link,
		&.icon,
		&.close {
			background-color: transparent;
			color: $gray-90;
			min-width: 0;
			padding: 0;

			&:hover,
			&:active {
				color: $teal-50;
				background-color: transparent;
		    border: 1px solid transparent;
			}

			&[disabled]:hover {
				background-color: transparent;
				color: $gray-90;
			}

			& [class^="ibm-icon--"],
			& [class^="ibm-glyph--"] {
				color: inherit;
			}
		}

		&.link {
			color: $teal-60;

			&[disabled]:hover {
				background-color: transparent;
				color: $teal-60;
			}

			[class^="ibm-icon--"] {
				font-size: 1.2em;
			}
		}

		&.error {
			background-color: $red-70;
			color: $white;

			&:hover,
			&:active {
				background-color: $white;
				color: $red-70;
		    border: 1px solid $red-70;
			}

			&[disabled]:hover {
				background-color: $red-70;
				color: $white;
			}
		}

		&.large {
			font-size: 1.25em;
		}

		&.small {
			padding: .4em .8em;
			font-size: 0.8em;
		}
	}

	.dark-theme {
		button {
			&.primary {
				border: 1px solid $teal-30;
				background-color: transparent;
				color: $teal-30;

				&:hover,
				&:active {
					border: 1px solid $teal-60;
					background-color: $teal-60;
					color: $white;
				}

				&[disabled]:hover {
					background-color: transparent;
					color: $teal-30;
				}
			}

			&.secondary {
				border: 1px solid $gray-30;
				background-color: transparent;
				color: $gray-30;

				&:hover,
				&:active {
					border: 1px solid $gray-70;
					background-color: $gray-70;
					color: $white;
				}

				&[disabled]:hover {
					background-color: transparent;
					color: $gray-30;
				}
			}

			&.error {
				border: 1px solid $red-30;
				background-color: transparent;
				color: $red-30;

				&:hover,
				&:active {
					border: 1px solid $red-70;
					background-color: $red-70;
					color: $white;
				}

				&[disabled]:hover {
					background-color: transparent;
					color: $red-30;
				}
			}

			&.link,
			&.icon,
			&.close {
				color: $gray-30;

				&:hover,
				&:active {
					color: $teal-30;
				}

				&[disabled]:hover {
					color: $gray-30;
				}
			}

			&.link {
				color: $teal-30;

				&[disabled]:hover {
					color: $teal-30;
				}
			}
		}
	}
}
