// Buttons
.watson {
  button {
    position: relative;
    font-size: 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    box-shadow: none;
    line-height: 1.6em;
    cursor: pointer;

    @include transition(all);

    & + button {
      margin-left: 1em;
    }

    h1 {
      display: inline;
      margin-right: .5em;
    }

    &:not(.link) {
      min-width: 120px;
    }

    &[disabled],
    &[disabled]:hover {
      opacity: .65;
      cursor: not-allowed;
    }

    &.primary {
      background-color: $teal-50;
      color: $white;
      border-radius: 20px;

      &:hover {
        background-color: $teal-60;
      }
      &:active, &:focus {
        background-color: $teal-70;
      }

      &[disabled], &[disabled]:hover {
        background-color: $cool-gray-20;
      }

      [class^="ibm-icon--"]:last-child,
      [class^="ibm-glyph--"]:last-child {
        position: absolute;
        right: 3px;
        top: 3px;
      }

      &.add {
        padding-right: 3em;

        &::after {
          content: "\e608";
          font-family: ibm-icons;
          font-size: 1.5em;
          position: absolute;
          right: 5px;
        }
      }

      &.import {
        padding-right: 3em;

        &::after {
          content: "\e611";
          font-family: "ibm-icons";
          font-size: 1.5em;
          position: absolute;
          right: 0.5em;
        }
      }
    }


    &.secondary {
      background-color: $cool-gray-50;
      color: $white;
      border-radius: 20px;

      &:hover {
        background-color: $cool-gray-60;
      }
      &:active, &:focus {
        background-color: $cool-gray-70;
      }

      &[disabled], &[disabled]:hover {
        background-color: $cool-gray-20;
      }
    }

    &.link,
    &.icon,
    &.close {
      background-color: transparent;
      color: $teal-50;
      min-width: 0;
      padding: 0;

      &:hover{
        color: $teal-60;
        background-color: transparent;
        border: 1px solid transparent;
      }

      &:focus,
      &:active {
        color: $teal-70;
        background-color: transparent;
        border: 1px solid transparent;
      }

      &[disabled], &[disabled]:hover {
        background-color: transparent;
        color: $cool-gray-20;
      }

      [class^="ibm-icon--"],
      [class^="ibm-glyph--"] {
        color: inherit;
      }
    }

    &.link {
      color: $teal-50;

      [class^="ibm-glyph--"],
      [class^="ibm-icon--"] {
        &:first-child {
          margin-right: 1em;
        }
      }

      &.add {
        padding-left: 2.5em;

        &::before {
          position: absolute;
          left: 0;
          content: "\e608";
          font-family: ibm-icons;
          font-size: 1.5em;
        }
      }

      &.import {
        padding-left: 2.5em;

        &::before {
          position: absolute;
          left: 0;
          content: "\e611";
          font-family: "ibm-icons";
          font-size: 1.5em;
        }
      }
    }

    &.delete {
      background-color: $red-50;
      color: $white;
      border-radius: 20px;

      &:hover {
        background-color: $red-60;
      }
      &:active, &:focus {
        background-color: $red-70;
      }

      &[disabled], &[disabled]:hover {
        background-color: $cool-gray-20;
      }
    }

    &.large {
      font-size: 1.25em;
    }

    &.small {
      padding: .4em .8em;
      font-size: 0.8em;
    }
  }

  .dark-theme {
    button.icon,
    button.link {
      color: $teal-30;

      &:hover,
      &:focus {
        color: $teal-40;
      }
    }
  }

  // .dark-theme {
  //   button {
  //     &.primary {
  //       background-color: $teal-50;
  //       color: $white;
  //
  //       &:hover {
  //         background-color: $teal-40;
  //       }
  //       &:active, &:focus {
  //         background-color: $cool-gray-30;
  //       }
  //
  //       &[disabled], &[disabled]:hover {
  //         background-color: $cool-gray-20;
  //       }
  //     }
  //
  //     &.secondary {
  //       background-color: transparent;
  //       border: solid 1px $teal-20;
  //       color: $teal-20;
  //
  //       &:hover {
  //         border-color: $cool-gray-20;
  //         color: $cool-gray-20;
  //       }
  //       &:active, &:focus {
  //         border-color: $white;
  //         color: $white;
  //       }
  //
  //       &[disabled], &[disabled]:hover {
  //         border-color: $gray-20;
  //         color: $white;
  //       }
  //     }
  //
  //     &.error {
  //       border: 1px solid $red-30;
  //       background-color: transparent;
  //       color: $red-30;
  //
  //       &:hover,
  //       &:active {
  //         border: 1px solid $red-70;
  //         background-color: $red-70;
  //         color: $white;
  //       }
  //
  //       &[disabled]:hover {
  //         background-color: transparent;
  //         color: $red-30;
  //       }
  //     }
  //
  //     &.delete {
  //       background-color: $red-50;
  //       color: $white;
  //
  //       &:hover {
  //         background-color: $red-40;
  //       }
  //       &:active, &:focus {
  //         background-color: $red-30;
  //       }
  //
  //       &[disabled], &[disabled]:hover {
  //         background-color: $cool-gray-20;
  //       }
  //     }
  //
  //     &.link,
  //     &.icon,
  //     &.close {
  //       color: $teal-50;
  //
  //       &:hover,
  //       &:active {
  //         color: $cool-gray-50;
  //       }
  //
  //       &[disabled], &[disabled]:hover {
  //         color: $cool-gray-30;
  //       }
  //     }
  //
  //     &.link {
  //       color: $teal-20;
  //
  //       &[disabled], &[disabled]:hover {
  //         color: $cool-gray-20;
  //       }
  //     }
  //   }
  // }
}
