// Checkboxes
.watson {
	input[type=checkbox] {
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		position: absolute;
		display: inline;
		margin-right: 2em;

		& + label {
			margin-bottom: .7em;
			padding-left: 1.5em;
			background: url(#{$ibm-watson-images-path}/checkbox.svg) no-repeat;
			cursor: pointer;
		}

		&:focus + label {
		  box-shadow: 0px 0px 5px 2px $teal-40;
		}

		&:checked + label {
			background: url(#{$ibm-watson-images-path}/checkbox_checked.svg) no-repeat;
		}
	}
}
