// Textareas
.watson {
	textarea {
		@extend %input;
		resize: none;
		width: 100%;

		&.code {
			background-color: $cool-gray-70;
    	color: $white;

	    &:hover,
	    &:focus {
	      border-color: $purple-50;
	    }

	    &.invalid {
	      border-color: $red-50;
	    }
	  }
	}

	.dark-theme {
		textarea {
			color: $white;
		}
	}
}
