<div role="main" id="guide-main">
  <header>
    <h1>Components</h1>
    <div class="notifications" ng-show="vm.alert">
      <uib-alert type="{{vm.alert.type}}" close="vm.alert = null">
        {{vm.alert.message}}
      </uib-alert>
    </div>
  </header>

  <div class="guide-row">
    <h2 id="/guide/banner">Banner</h2>
    <p>Use <code>&lt;header role="banner"&gt;&lt;/header&gt;</code> for the top banner.</p>
  </div>

  <div class="guide-row">
    <h2 id="/guide/banner">Alert</h2>
    <p>Use <code>uib-alert</code> directive for the alerts.  Wrap in a <code>notifications</code> class to put it at the top of the page.</p>
    <button type="button" role="button" class="primary" ng-click="vm.alert = {type: error, message: 'This is an alert!'}">Show alert</button>
  </div>

  <div class="guide-row">
    <h2 id="/guide/sidenav">Sidenav</h2>
    <p>Use <code>&lt;side-nav links="[{label:'Overview', icon:'ibm-icon--home', href:'#/overview'}]"&gt;&lt;/side-nav&gt;</code> for the sidenav.</p>
  </div>

  <div class="guide-row">
    <h2 id="/guide/dropdowns">Dropdowns</h2>
    <p>Use the <code>uib-dropdown</code> attribute directives for dropdowns.</p>
    <div uib-dropdown is-open="status1.isopen">
      <button id="dropdown-default" type="button" role="button" uib-dropdown-toggle>
        <span>Dropdown</span><span class="ibm-glyph--caret-down_24"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-default">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div uib-dropdown is-open="status3.isopen">
      <span class="label">Sort by:</span>
      <button id="dropdown-with-label" type="button" role="button" uib-dropdown-toggle>
        <span>Dropdown - with label</span><span class="ibm-glyph--caret-down_24"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-with-label" class="pull-right">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div uib-dropdown is-open="status4.isopen" class="minimal">
      <button id="dropdown-minimal" type="button" role="button" uib-dropdown-toggle>
        <span>Minimal dropdown</span><span class="ibm-glyph--caret-down_24"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-minimal">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div uib-dropdown is-open="status5.isopen" class="minimal">
      <button id="dropdown-icon" type="button" role="button" uib-dropdown-toggle class="icon" title="Actions" aria-label="Actions">
        <span class="ibm-icon--menuoverflow-vertical"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-icon" class="pull-right">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <div class="guide-row">
    <h2 id="/guide/breadcrumb">Breadcrumb</h2>
    <p>Use <code>&lt;ol class="breadcrumb"&gt;</code> for breadcrumbs</p>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li>Data</li>
    </ol>
  </div>

  <div class="guide-row">
    <h2 id="/guide/modals">Modals</h2>
    <p>Use the <code>$uibModal</code> service for modals.</p>
    <button type="button" role="button" class="primary" ng-click="vm.openModal()">Open Modal</button>
  </div>

  <div class="guide-row">
    <h2 id="/guide/tooltips">Tooltips</h2>
    <p>Use <code>uib-popover</code> attribute directives for tooltips.</p>
    <span class="ibm-icon--info-question" aria-hidden="true" uib-popover="Some help text" popover-trigger="mouseenter" popover-placement="top-left"></span>
  </div>

  <div class="guide-row">
    <h2 id="/guide/inline-notifications">Inline Notifications</h2>
    <p>Use <code>inline-notification</code> class for inline notifications.  Add <code>success</code>, <code>info</code>, <code>warning</code>, <code>error</code> classes for the different types.</p>
    <div>
      <div class="inline-notification success">You are about to delete <strong>Robot Concierge</strong> workspace.</div>
    </div>
    <div>
      <div class="inline-notification info">You are about to delete <strong>Robot Concierge</strong> workspace.</div>
    </div>
    <div>
      <div class="inline-notification warning">You are about to delete <strong>Robot Concierge</strong> workspace.</div>
    </div>
    <div>
      <div class="inline-notification error">You are about to delete <strong>Robot Concierge</strong> workspace.</div>
    </div>
    <div>
      <div class="inline-notification error closable">
        <span>Persistent notification with close icon.</span>
        <button type="button" role="button" class="icon" title="Close" aria-label="Close"><span class="ibm-glyph--close" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="guide-row">
    <h2 id="/guide/accordian">Accordian</h2>
    <p>Use <code>&lt;uib-accordian&gt;</code> and <code>&lt;uib-accordian-group&gt;</code> for accordians.</p>
    <uib-accordion close-others="true">
      <uib-accordion-group heading="First thing">
        <p>...stuff...</p>
      </uib-accordion-group>
      <uib-accordion-group heading="Second thing">
        <p>...more stuff...</p>
      </uib-accordion-group>
    </uib-accordion>
  </div>

  <div class="guide-row">
    <h2 id="/guide/tags">Tags</h2>
    <p>Use <code>class="tag"</code> for tags.</p>
    <div class="tag">natatorium</div>
    <div class="tag confidence">
      <span>#hotel_location</span><span>.80</span>
    </div>
  </div>
  <div class="guide-row">
    <h2 id="/guide/help">Help</h2>
    <button type="button" role="button" class="primary" ng-click="vm.showHelp()">Toggle Help</button>
    <help-assistant template="vm.helpTemplate" show-help="vm.showHelp" ng-show="vm.helpVisible"></help-assistant>
  </div>

  <div class="guide-row">
    <h2 id="/guide/loading">Loading indicator</h2>
    <div class="loading"></div>
  </div>
</div>
