<div class="main-container">
    <nav class="sidebar" role="navigation">
        <ul ng-click="disableAnimations()">
            <li class="active"><a href="#/guide/headings">Headings</a></li>
            <li><a href="#/guide/typography">Typography</a></li>
            <li><a href="#/guide/glyphs">Glyphs</a></li>
            <li><a href="#/guide/icons">Icons</a></li>
            <li><a href="#/guide/forms">Forms</a></li>
            <li><a href="#/guide/radio">Radio buttons</a></li>
            <li><a href="#/guide/checkboxes">Checkboxes</a></li>
            <li><a href="#/guide/search">Search</a></li>
            <li><a href="#/guide/filter">Filter</a></li>
            <li><a href="#/guide/buttons">Buttons</a></li>
            <li><a href="#/guide/dropdowns">Dropdowns</a></li>
            <li><a href="#/guide/breadcrumb">Breadcrumb</a></li>
            <li><a href="#/guide/modals">Modals</a></li>
            <li><a href="#/guide/file">File upload</a></li>
            <li><a href="#/guide/tables">Tables</a></li>
            <li><a href="#/guide/tooltips">Tooltip</a></li>
            <li><a href="#/guide/grids">Grids</a></li>
            <li><a href="#/guide/accordian">Accordian</a></li>
            <li><a href="#/guide/labels">Labels</a></li>
            <li><a href="#/guide/tags">Tags</a></li>
            <li><a href="#/guide/progress">Progress bars</a></li>
            <li><a href="#/guide/alerts">Alerts</a></li>
        </ul>
    </nav>
    <div role="main" id="guide-main">
        <div class="guide-row">
            <h2 id="headings">Banner</h2>
            <p>Use <code>&lt;header role="banner"&gt;&lt;h1&gt;&lt;/h1&gt;&lt;nav&gt;&lt;ul&gt;...&lt;/ul&gt;&lt;/nav&gt;&lt;/header&gt;</code> for the top banner.</p>
        </div>
        <div class="guide-row">
            <h2 id="headings">Sidenav</h2>
            <p>Use <code>&lt;nav class="sidebar"&gt;&lt;ul&gt;&lt;li&gt;&lt;a&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/nav&gt;</code> for the sidenav.</p>
        </div>
        <div class="guide-row">
            <h2 id="headings">Headings</h2>
            <p>Use the <code>&lt;h1&gt; - &lt;h6&gt;</code> tags for headings.  Remember to use <code>&lt;hgroup&gt;</code> for groups of titles.</p>
            <hgroup>
                <h1>H1 header/ 1.953em</h1>
                <h2>H2 header/ 1.563em</h2>
                <h3>H3 header/ 1.25em</h3>
                <h4>H4 header/ 1em</h4>
                <h5>H5 header/ 1em</h5>
                <h6>H6 header/ 1em</h6>
            </hgroup>
        </div>
        <div class="guide-row">
            <h2 id="typography">Typography</h2>
            <p>Use the right sematic tags or classes for text</p>
            <ul>
                <li><p>Normal paragraph - <code>&lt;p&gt;</code></p></li>
                <li><p><strong>strong text</strong> - <code>&lt;strong&gt;</code></p></li>
                <li><p><em>emphasized text</em> - <code>&lt;em&gt;</code></p></li>
                <li><p><small>Small text</small> - <code>&lt;small&gt;</code></p></li>
                <li><p><small class="helper">Helper text</small> - <code>&lt;small class="helper"&gt;</code></p></li>
                <li><p class="uppercase">Uppercase text - <code>&lt;* class="uppercase"&gt;</code></p></li>
                <li><p><a>Hyperlink</a> - <code>&lt;a&gt;</code></p></li>
                <li><p><del>deleted text</del> - <code>&lt;del&gt;</code></p></li>
                <li><p><mark>highlighted text</mark> - <code>&lt;mark&gt;</code></p></li>
                <li><p class="error-text">Error text - <code>&lt;* class="error-text"&gt;</code></p></li>
                <li><code>Use &lt;code&gt; for code snippets</code></li>
            </ul>
        </div>

        <div class="guide-row">
            <h2 id="glyphs">Glyphs</h2>
            <p>Use the <code>ibm-glyph--*</code> classes for glyphs.</p>
            <div>
                <span class="ibm-glyph--close" aria-hidden="true"></span>
                <span class="ibm-glyph--flag_fill" aria-hidden="true"></span>
                <span class="ibm-glyph--caret-left_24" aria-hidden="true"></span>
                <span class="ibm-glyph--caret-right_24" aria-hidden="true"></span>
                <span class="ibm-glyph--caret-down_24" aria-hidden="true"></span>
                <span class="ibm-glyph--caret-up_24" aria-hidden="true"></span>
                <span class="ibm-glyph--add-new_24" aria-hidden="true"></span>
                <span class="ibm-glyph--attachment_24" aria-hidden="true"></span>
                <span class="ibm-glyph--audio-sound_24" aria-hidden="true"></span>
                <span class="ibm-glyph--bookmark_24" aria-hidden="true"></span>
                <span class="ibm-glyph--chat-IM_24" aria-hidden="true"></span>
                <span class="ibm-glyph--cut_24" aria-hidden="true"></span>
                <span class="ibm-glyph--document_24" aria-hidden="true"></span>
                <span class="ibm-glyph--edit_24" aria-hidden="true"></span>
                <span class="ibm-glyph--email_24" aria-hidden="true"></span>
                <span class="ibm-glyph--file_24" aria-hidden="true"></span>
                <span class="ibm-glyph--folder_24" aria-hidden="true"></span>
                <span class="ibm-glyph--help_24" aria-hidden="true"></span>
                <span class="ibm-glyph--home_24" aria-hidden="true"></span>
                <span class="ibm-glyph--like-heart_24" aria-hidden="true"></span>
                <span class="ibm-glyph--link_24" aria-hidden="true"></span>
                <span class="ibm-glyph--location-map_24" aria-hidden="true"></span>
                <span class="ibm-glyph--lock-secure_24" aria-hidden="true"></span>
                <span class="ibm-glyph--next-right-forward_24" aria-hidden="true"></span>
                <span class="ibm-glyph--phone-call_24" aria-hidden="true"></span>
                <span class="ibm-glyph--print_24" aria-hidden="true"></span>
                <span class="ibm-glyph--rating-star_24" aria-hidden="true"></span>
                <span class="ibm-glyph--remove-delete_24" aria-hidden="true"></span>
                <span class="ibm-glyph--save_24" aria-hidden="true"></span>
                <span class="ibm-glyph--search_24" aria-hidden="true"></span>
                <span class="ibm-glyph--settings-manage_24" aria-hidden="true"></span>
                <span class="ibm-glyph--unlock-nonsecure_24" aria-hidden="true"></span>
                <span class="ibm-glyph--user-profile_24" aria-hidden="true"></span>
                <span class="ibm-glyph--video_24" aria-hidden="true"></span>
            </div>
        </div>
        <div class="guide-row">
            <h2 id="icons">Icons</h2>
            <p>Use the <code>ibm-icon--*</code> classes for icons.</p>
            <div>
                <span class="ibm-icon--flag_outline" aria-hidden="true"></span>
                <span class="ibm-icon--down2" aria-hidden="true"></span>
                <span class="ibm-icon--info-question" aria-hidden="true"></span>
                <span class="ibm-icon--menuoverflow-vertical" aria-hidden="true"></span>
                <span class="ibm-icon--add-new" aria-hidden="true"></span>
                <span class="ibm-icon--back-left-previous" aria-hidden="true"></span>
                <span class="ibm-icon--bottom" aria-hidden="true"></span>
                <span class="ibm-icon--close-cancel-error" aria-hidden="true"></span>
                <span class="ibm-icon--configure-manage" aria-hidden="true"></span>
                <span class="ibm-icon--create-new" aria-hidden="true"></span>
                <span class="ibm-icon--debug" aria-hidden="true"></span>
                <span class="ibm-icon--deploy" aria-hidden="true"></span>
                <span class="ibm-icon--down" aria-hidden="true"></span>
                <span class="ibm-icon--download-import" aria-hidden="true"></span>
                <span class="ibm-icon--edit" aria-hidden="true"></span>
                <span class="ibm-icon--filter" aria-hidden="true"></span>
                <span class="ibm-icon--info-moreinfo" aria-hidden="true"></span>
                <span class="ibm-icon--maximize" aria-hidden="true"></span>
                <span class="ibm-icon--migrate" aria-hidden="true"></span>
                <span class="ibm-icon--minimize" aria-hidden="true"></span>
                <span class="ibm-icon--monitoring" aria-hidden="true"></span>
                <span class="ibm-icon--move" aria-hidden="true"></span>
                <span class="ibm-icon--next-right-forward" aria-hidden="true"></span>
                <span class="ibm-icon--overview" aria-hidden="true"></span>
                <span class="ibm-icon--pause" aria-hidden="true"></span>
                <span class="ibm-icon--play-demo-start" aria-hidden="true"></span>
                <span class="ibm-icon--power-start" aria-hidden="true"></span>
                <span class="ibm-icon--refresh-redo" aria-hidden="true"></span>
                <span class="ibm-icon--remove-delete" aria-hidden="true"></span>
                <span class="ibm-icon--remove-trash" aria-hidden="true"></span>
                <span class="ibm-icon--reset-revert" aria-hidden="true"></span>
                <span class="ibm-icon--restore" aria-hidden="true"></span>
                <span class="ibm-icon--retrieve" aria-hidden="true"></span>
                <span class="ibm-icon--run-running" aria-hidden="true"></span>
                <span class="ibm-icon--search" aria-hidden="true"></span>
                <span class="ibm-icon--settings-manage" aria-hidden="true"></span>
                <span class="ibm-icon--stop" aria-hidden="true"></span>
                <span class="ibm-icon--success-confirmation" aria-hidden="true"></span>
                <span class="ibm-icon--top" aria-hidden="true"></span>
                <span class="ibm-icon--upload-export" aria-hidden="true"></span>
                <span class="ibm-icon--view" aria-hidden="true"></span>
                <span class="ibm-icon--warning" aria-hidden="true"></span>
                <span class="ibm-icon--zoomin" aria-hidden="true"></span>
                <span class="ibm-icon--zoomout" aria-hidden="true"></span>
                <span class="ibm-icon--access-password-key" aria-hidden="true"></span>
                <span class="ibm-icon--activity" aria-hidden="true"></span>
                <span class="ibm-icon--admin" aria-hidden="true"></span>
                <span class="ibm-icon--aligncenter" aria-hidden="true"></span>
                <span class="ibm-icon--alignleft" aria-hidden="true"></span>
                <span class="ibm-icon--alignright" aria-hidden="true"></span>
                <span class="ibm-icon--api" aria-hidden="true"></span>
                <span class="ibm-icon--applications" aria-hidden="true"></span>
                <span class="ibm-icon--archive-storage" aria-hidden="true"></span>
                <span class="ibm-icon--attachment" aria-hidden="true"></span>
                <span class="ibm-icon--audio" aria-hidden="true"></span>
                <span class="ibm-icon--audio-sound" aria-hidden="true"></span>
                <span class="ibm-icon--barchart" aria-hidden="true"></span>
                <span class="ibm-icon--bee" aria-hidden="true"></span>
                <span class="ibm-icon--blog" aria-hidden="true"></span>
                <span class="ibm-icon--bold" aria-hidden="true"></span>
                <span class="ibm-icon--bulletlist" aria-hidden="true"></span>
                <span class="ibm-icon--copy" aria-hidden="true"></span>
                <span class="ibm-icon--cut" aria-hidden="true"></span>
                <span class="ibm-icon--indent" aria-hidden="true"></span>
                <span class="ibm-icon--insert" aria-hidden="true"></span>
                <span class="ibm-icon--italic" aria-hidden="true"></span>
                <span class="ibm-icon--justify" aria-hidden="true"></span>
                <span class="ibm-icon--link-externallink" aria-hidden="true"></span>
                <span class="ibm-icon--numberlist" aria-hidden="true"></span>
                <span class="ibm-icon--outdent" aria-hidden="true"></span>
                <span class="ibm-icon--paste" aria-hidden="true"></span>
                <span class="ibm-icon--print" aria-hidden="true"></span>
                <span class="ibm-icon--save" aria-hidden="true"></span>
                <span class="ibm-icon--spellcheck" aria-hidden="true"></span>
                <span class="ibm-icon--table-tables" aria-hidden="true"></span>
                <span class="ibm-icon--textcolor" aria-hidden="true"></span>
                <span class="ibm-icon--underline" aria-hidden="true"></span>
                <span class="ibm-icon--booklet-guide" aria-hidden="true"></span>
                <span class="ibm-icon--bookmark" aria-hidden="true"></span>
                <span class="ibm-icon--calendar" aria-hidden="true"></span>
                <span class="ibm-icon--camera" aria-hidden="true"></span>
                <span class="ibm-icon--cart-checkout" aria-hidden="true"></span>
                <span class="ibm-icon--catalog" aria-hidden="true"></span>
                <span class="ibm-icon--chat-im" aria-hidden="true"></span>
                <span class="ibm-icon--client" aria-hidden="true"></span>
                <span class="ibm-icon--clock-time" aria-hidden="true"></span>
                <span class="ibm-icon--cloud" aria-hidden="true"></span>
                <span class="ibm-icon--code" aria-hidden="true"></span>
                <span class="ibm-icon--collaborate-group" aria-hidden="true"></span>
                <span class="ibm-icon--commandline-terminal" aria-hidden="true"></span>
                <span class="ibm-icon--compass" aria-hidden="true"></span>
                <span class="ibm-icon--compressed" aria-hidden="true"></span>
                <span class="ibm-icon--dashboard" aria-hidden="true"></span>
                <span class="ibm-icon--data" aria-hidden="true"></span>
                <span class="ibm-icon--database-server" aria-hidden="true"></span>
                <span class="ibm-icon--document" aria-hidden="true"></span>
                <span class="ibm-icon--email" aria-hidden="true"></span>
                <span class="ibm-icon--event-announcement" aria-hidden="true"></span>
                <span class="ibm-icon--file" aria-hidden="true"></span>
                <span class="ibm-icon--fileextension" aria-hidden="true"></span>
                <span class="ibm-icon--flow" aria-hidden="true"></span>
                <span class="ibm-icon--folder" aria-hidden="true"></span>
                <span class="ibm-icon--forum" aria-hidden="true"></span>
                <span class="ibm-icon--gauge" aria-hidden="true"></span>
                <span class="ibm-icon--glasses" aria-hidden="true"></span>
                <span class="ibm-icon--hat" aria-hidden="true"></span>
                <span class="ibm-icon--headphones" aria-hidden="true"></span>
                <span class="ibm-icon--help" aria-hidden="true"></span>
                <span class="ibm-icon--home" aria-hidden="true"></span>
                <span class="ibm-icon--idea" aria-hidden="true"></span>
                <span class="ibm-icon--industry-factory" aria-hidden="true"></span>
                <span class="ibm-icon--inventory" aria-hidden="true"></span>
                <span class="ibm-icon--like-heart" aria-hidden="true"></span>
                <span class="ibm-icon--location-map" aria-hidden="true"></span>
                <span class="ibm-icon--lock-secure" aria-hidden="true"></span>
                <span class="ibm-icon--log" aria-hidden="true"></span>
                <span class="ibm-icon--menuoverflow" aria-hidden="true"></span>
                <span class="ibm-icon--microphone-recording" aria-hidden="true"></span>
                <span class="ibm-icon--mobile" aria-hidden="true"></span>
                <span class="ibm-icon--music" aria-hidden="true"></span>
                <span class="ibm-icon--musicfile" aria-hidden="true"></span>
                <span class="ibm-icon--payment-creditcard" aria-hidden="true"></span>
                <span class="ibm-icon--person" aria-hidden="true"></span>
                <span class="ibm-icon--phone-call" aria-hidden="true"></span>
                <span class="ibm-icon--picturefile" aria-hidden="true"></span>
                <span class="ibm-icon--piechart" aria-hidden="true"></span>
                <span class="ibm-icon--presentationfile" aria-hidden="true"></span>
                <span class="ibm-icon--project-planning" aria-hidden="true"></span>
                <span class="ibm-icon--rating-star" aria-hidden="true"></span>
                <span class="ibm-icon--recommended" aria-hidden="true"></span>
                <span class="ibm-icon--relationship" aria-hidden="true"></span>
                <span class="ibm-icon--report" aria-hidden="true"></span>
                <span class="ibm-icon--repository-archive" aria-hidden="true"></span>
                <span class="ibm-icon--role" aria-hidden="true"></span>
                <span class="ibm-icon--rss-feed" aria-hidden="true"></span>
                <span class="ibm-icon--satellitedish" aria-hidden="true"></span>
                <span class="ibm-icon--settings" aria-hidden="true"></span>
                <span class="ibm-icon--spaces" aria-hidden="true"></span>
                <span class="ibm-icon--spreadsheet-listview" aria-hidden="true"></span>
                <span class="ibm-icon--tag" aria-hidden="true"></span>
                <span class="ibm-icon--task-tasks" aria-hidden="true"></span>
                <span class="ibm-icon--template" aria-hidden="true"></span>
                <span class="ibm-icon-tile-tiles-tileview" aria-hidden="true"></span>
                <span class="ibm-icon--tools-toolbox" aria-hidden="true"></span>
                <span class="ibm-icon--traffic" aria-hidden="true"></span>
                <span class="ibm-icon--unlock-nonsecure" aria-hidden="true"></span>
                <span class="ibm-icon--user-profile" aria-hidden="true"></span>
                <span class="ibm-icon--video" aria-hidden="true"></span>
                <span class="ibm-icon--videofile" aria-hidden="true"></span>
                <span class="ibm-icon--watch-clock-time" aria-hidden="true"></span>
                <span class="ibm-icon--wikis" aria-hidden="true"></span>
                <span class="ibm-icon--workspace" aria-hidden="true"></span>
                <span class="ibm-icon--world-globe" aria-hidden="true"></span>
            </div>
        </div>
        <div class="guide-row">
            <h2 id="forms">Forms</h2>
            <p>Use <code>&lt;form&gt;</code> for forms.</p>
            <p>Use the appropriate types for inputs (<code>text</code>, <code>email</code>, <code>url</code>, <code>search</code>, <code>username</code>, <code>password</code>, <code>checkbox</code>, <code>radio</code>).  Remember to include a <code>&lt;label for="id"&gt;</code> for inputs (or <code>aria-label</code> if no visible label needed).</p>
            <form>
                <div>
                    <label for="modelName">Model name</label>
                    <input type="text" id="modelName" placeholder="Enter model name"/>
                </div>
                <div>
                    <label for="modelDescription">Description</label>
                    <textarea id="modelDescription" rows="3" placeholder="Include a description to help identify this model"></textarea>
                </div>

                <div class="guide-row">
                    <h3 id="radio">Radio Button</h3>
                    <p>Use <code>&lt;input type="radio"&gt;</code> for radio buttons.  Remember to wrap the radio group in a <code>&lt;fieldset&gt;</code>.</p>
                    <fieldset>
                        <legend>Gender:</legend>
                        <input type="radio" name="radio_group" id="radio1">
                        <label for="radio1">Male</label>
                        <input type="radio" name="radio_group" id="radio2">
                        <label for="radio2">Female</label>
                        <input type="radio" name="radio_group" id="radio3" checked>
                        <label for="radio3">Other</label>
                    </fieldset>
                </div>

                <div class="guide-row">
                    <h3 id="checkboxes">Checkboxes</h3>
                    <p>Use <code>&lt;input type="checkbox"&gt;</code> for checkboxes.</p>
                    <ul>
                        <li>
                            <input type="checkbox" id="cb5">
                            <label for="cb5">Austin, TX</label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb6">
                            <label for="cb6">Littleton, MA</label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb7">
                            <label for="cb7">Hursley, UK</label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb8">
                            <label for="cb8">New York, NY</label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb9">
                            <label for="cb9">Cambridge, MA</label>
                        </li>
                    </ul>
                </div>

                <div class="guide-row">
                    <h3 id="search">Search</h3>
                    <p>Use <code>&lt;input type="search"&gt;</code> for search fields.</p>
                    <input type="search" placeholder="Search by keyword..." aria-label="Search by keyword..."/>
                </div>

                <div class="guide-row">
                    <h3 id="filter">Filter</h3>
                    <p><code>&lt;input type="search" class="filter"&gt;</code></p>
                    <input type="search" class="filter" placeholder="Filter..." aria-label="Filter..."/>
                </div>

                <div class="guide-row">
                    <h3 id="buttons">Buttons</h3>
                    <p>Use <code>&lt;button&gt;</code> for primary buttons.  Add a class of <code>secondary</code>, <code>error</code> or <code>link</code> for the others.</p>
                    <div class="guide-row">
                        <button type="button" role="button">Primary</button>
                        <button type="button" role="button" class="secondary">Secondary</button>
                        <button type="button" role="button" class="error">Error</button>
                        <button type="button" role="button" class="link"><span class="ibm-glyph--add-new_24" aria-hidden="true"></span>Secondary button</button>
                        <button type="button" role="button" class="link">Tertiary button</button>
                        <button type="button" role="button" class="link" title="Icon button" aria-label="Icon button"><span class="ibm-glyph--add-new_24" aria-hidden="true"></span></button>
                    </div>
                    <p>Use <code>&lt;button disabled&gt;</code> for disabled buttons.  Use <code>ng-disabled</code> to dynamically set this.</p>
                    <div class="guide-row">
                          <button type="button" role="button" disabled>Disabled Primary</button>
                          <button type="button" role="button" class="secondary" disabled>Disabled Secondary</button>
                          <button type="button" role="button" class="error" disabled>Disabled Error</button>
                          <button type="button" role="button" class="link" disabled><span class="ibm-glyph--add-new_24" aria-hidden="true"></span>Disabled Secondary</button>
                          <button type="button" role="button" class="link" disabled>Disabled Tertiary</button>
                          <button type="button" role="button" class="link" title="Icon button" aria-label="Icon button" disabled><span class="ibm-glyph--add-new_24" aria-hidden="true"></span></button>
                    </div>
                    <p>Use <code>&lt;button class="large"&gt;</code> for large buttons.</p>
                    <div class="guide-row">
                        <button type="button" role="button" class="large">Primary big button</button>
                        <button type="button" role="button" class="secondary large">Secondary big button</button>
                        <button type="button" role="button" class="error large">Error big button</button>
                        <button type="button" role="button" class="link large"><span class="ibm-glyph--add-new_24" aria-hidden="true"></span>Secondary button</button>
                        <button type="button" role="button" class="link large">Tertiary button</button>
                        <button type="button" role="button" class="link large" title="Icon button" aria-label="Icon button"><span class="ibm-glyph--add-new_24" aria-hidden="true"></span></button>
                    </div>
                    <p>Use <code>&lt;button class="small"&gt;</code> for small buttons.</p>
                    <div class="guide-row">
                        <button type="button" role="button" class="small">Primary small button</button>
                        <button type="button" role="button" class="secondary small">Secondary small button</button>
                        <button type="button" role="button" class="error small">Error small button</button>
                        <button type="button" role="button" class="link small"><span class="ibm-glyph--add-new_24" aria-hidden="true"></span>Secondary button</button>
                        <button type="button" role="button" class="link small">Tertiary button</button>
                        <button type="button" role="button" class="link small" title="Icon button" aria-label="Icon button"><span class="ibm-glyph--add-new_24" aria-hidden="true"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="guide-row">
            <h2 id="dropdowns">Dropdowns</h2>
            <p>Use the <code>uib-dropdown</code> attribute directives for dropdowns.</p>
            <div uib-dropdown is-open="status1.isopen">
                <button id="dropdown-default" type="button" role="button" uib-dropdown-toggle>
                    <span>Dropdown</span><span class="ibm-glyph--caret-down_24"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-default">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>

            <div uib-dropdown is-open="status2.isopen">
                <button id="dropdown-right-aligned" type="button" role="button" uib-dropdown-toggle>
                    <span>Dropdown - right aligned</span><span class="ibm-glyph--caret-down_24"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-right-aligned" class="pull-right">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>

            <div uib-dropdown is-open="status3.isopen">
                <span class="label">Sort by:</span>
                <button id="dropdown-with-label" type="button" role="button" uib-dropdown-toggle>
                    <span>Dropdown - with label</span><span class="ibm-glyph--caret-down_24"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-with-label" class="pull-right">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>

            <div uib-dropdown is-open="status4.isopen" class="minimal">
                <button id="dropdown-minimal" type="button" role="button" uib-dropdown-toggle>
                    <span>Minimal dropdown</span><span class="ibm-glyph--caret-down_24"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-minimal">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>

            <div uib-dropdown is-open="status5.isopen" class="minimal">
                <button id="dropdown-icon" type="button" role="button" uib-dropdown-toggle class="link" title="Actions" aria-label="Actions">
                    <span class="ibm-icon--menuoverflow-vertical"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-icon" class="pull-right">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>

        <div class="guide-row">
            <h2 id="breadcrumb">Breadcrumb</h2>
            <p>Use <code>&lt;ol class="breadcrumb"&gt;</code> for breadcrumbs</p>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li>Data</li>
            </ol>
        </div>

        <div class="guide-row">
            <h2 id="modals">Modals</h2>
            <p>Use the <code>$uibModal</code> service for modals.</p>
            <button type="button" ng-click="mainController.openModal()">Open Modal</button>
        </div>

        <div class="guide-row">
            <h2 id="file">File upload</h2>
            <p>Use <code>&lt;input type="file"&gt;</code> wrapped in a <code>&lt;div class="file-upload"&gt;</code> for file inputs.</p>
            <div class="file-upload" title="Drag a file, or click to browse from your computer.">
                <input type="file" aria-label="Drag a file, or click to browse from your computer."/>
            </div>
        </div>

        <div class="guide-row">
            <h2 id="tables">Tables</h2>
            <p>Use <code>&lt;table&gt;</code>, <code>&lt;thead&gt;</code>, <code>&lt;tbody&gt;</code>, <code>&lt;tr&gt;</code>, <code>&lt;th&gt;</code> and <code>&lt;td label="..."&gt;</code> for tables.</p>
            <table>
                <thead>
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td label="Header 1:">Content</td>
                        <td label="Header 2:">Content</td>
                        <td label="Header 3:">Content</td>
                    </tr>
                    <tr>
                        <td label="Header 1:">Content</td>
                        <td label="Header 2:">Content</td>
                        <td label="Header 3:">Content</td>
                    </tr>
                    <tr>
                        <td label="Header 1:">Content</td>
                        <td label="Header 2:">Content</td>
                        <td label="Header 3:">Content</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="guide-row">
            <h2 id="tooltips">Tooltips</h2>
            <p>Use <code>uib-popover</code> attribute directives for tooltips.</p>
            <button role="button" type="button" class="link" title="Help" aria-label="Help"
                    uib-popover="Some help text" popover-trigger="outsideClick" popover-title="Info">
                <span class="ibm-icon--info-question" aria-hidden="true"></span>
            </button>
        </div>

        <div class="guide-row">
            <h2 id="grids">Grid</h2>
            <p>Use <code>class="grid-even"</code> and <code>class="grid-odd"</code> for grid layouts.  If you want to dynamically switch between them to keep rows balanced then use something like <code ng-non-bindable>&lt;class="grid-&#123;&#123;(items.length % 2 == 0 ? "even" : "odd")&#125;&#125;"&gt;</code>.</p>
            <h3>Even</h3>
            <div class="grid-even">
                <div><div style="margin: 10px; height:100px; background-color:red;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:orange;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:yellow;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:green;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:blue;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:indigo;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:violet;"></div></div>
            </div>
            <h3>Odd</h3>
            <div class="grid-odd">
                <div><div style="margin: 10px; height:100px; background-color:red;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:orange;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:yellow;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:green;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:blue;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:indigo;"></div></div>
                <div><div style="margin: 10px; height:100px; background-color:violet;"></div></div>
            </div>
        </div>

        <div class="guide-row">
            <h2 id="accordian">Accordian</h2>
            <p>Use <code>&lt;uib-accordian&gt;</code> and <code>&lt;uib-accordian-group&gt;</code> for accordians.</p>
            <uib-accordion close-others="true">
                <uib-accordion-group heading="First thing">
                    <p>...stuff...</p>
                </uib-accordion-group>
                <uib-accordion-group heading="Second thing">
                    <p>...more stuff...</p>
                </uib-accordion-group>
            </uib-accordion>
        </div>

        <div class="guide-row">
            <h2 id="labels">Labels</h2>
            <p>Use <code>class="chip"</code> for "labels".</p>
            <ul class="inline">
                <li>
                    <div class="chip">
                        <span>default</span>
                    </div>
                </li>
                <li>
                    <div class="chip secondary">
                        <span>secondary</span>
                    </div>
                </li>
                <li>
                    <div class="chip selected">
                        <span>selected</span>
                    </div>
                </li>
                <li>
                    <div class="chip error">
                        <span>error</span>
                    </div>
                </li>
                <li>
                    <div class="chip warning">
                        <span>warning</span>
                    </div>
                </li>
                <li>
                    <div class="chip success">
                        <span>success</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="guide-row">
            <h2 id="tags">Tags</h2>
            <p>Use <code>class="tag"</code> for tags.</p>
            <ul class="inline">
                <li>
                    <div class="tag">
                        <span>default</span>
                        <button type="button" role="button" title="Delete tag" aria-label="Delete tag" class="link"><span class="ibm-glyph--close" aria-hidden="true"></span></button>
                    </div>
                </li>
                <li>
                    <div class="tag secondary">
                        <span>secondary</span>
                        <button type="button" role="button" title="Delete tag" aria-label="Delete tag" class="link"><span class="ibm-glyph--close" aria-hidden="true"></span></button>
                    </div>
                </li>
                <li>
                    <div class="tag selected">
                        <span>selected</span>
                        <button type="button" role="button" title="Delete tag" aria-label="Delete tag" class="link"><span class="ibm-glyph--close" aria-hidden="true"></span></button>
                    </div>
                </li>
                <li>
                    <div class="tag error">
                        <span>error</span>
                        <button type="button" role="button" title="Delete tag" aria-label="Delete tag" class="link"><span class="ibm-glyph--close" aria-hidden="true"></span></button>
                    </div>
                </li>
                <li>
                    <div class="tag warning">
                        <span>warning</span>
                        <button type="button" role="button" title="Delete tag" aria-label="Delete tag" class="link"><span class="ibm-glyph--close" aria-hidden="true"></span></button>
                    </div>
                </li>
                <li>
                    <div class="tag success">
                        <span>success</span>
                        <button type="button" role="button" title="Delete tag" aria-label="Delete tag" class="link"><span class="ibm-glyph--close" aria-hidden="true"></span></button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="guide-row">
            <h2 id="progress">Progress bars</h2>
            <p>Use <code>&lt;progress&gt;</code> for progress bars.  You can use something like <code>ng-class="{'good': precentageComplete > 50}"</code> to adjust the style as it progresses.</p>
            <div>
                <label for="progress1">Not much progress</label>
                <progress id="progress1" max="100" value="25"></progress>
            </div>
            <div>
                <label for="progress2">Good progress</label>
                <progress id="progress2" class="good" max="100" value="75"></progress>
            </div>
        </div>

        <div class="guide-row">
            <h2 id="alerts">Alerts</h2>
            <p>Use <code>&lt;uib-alert type="..."&gt;</code> for alerts.  Types can be <code>info</code>, <code>success</code>, <code>warning</code> or <code>error</code>.</p>
            <div ng-repeat="type in ['info', 'success', 'warning', 'error']">
                <uib-alert type="{{type}}" close="closeAlert($index)">{{type}} alert</uib-alert>
            </div>
        </div>
    </div>
</div>
