<div>
  <button type="button" role="button" class="icon" aria-label="Ask Watson" ng-click="vm.toggleMenu()">
    <span class="ibm-icon--forum" aria-hidden="true"></span>
  </button>

  <aside class="dark-theme" ng-show="vm.isOpen">
    <header>
    </header>
    <section>
      <ol>
        <li class="{{step.who}}-speech" ng-repeat="step in vm.conversation">
          <div>
            <div>{{step.message}}</div>
            <div class="date">{{step.date}}</div>
          </div>
          <div uib-dropdown is-open="user1.isopen" class="minimal">
            <button id="dropdown-icon" type="button" role="button" uib-dropdown-toggle class="link" title="Actions" aria-label="Actions">
              <span class="ibm-icon--menuoverflow-vertical"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="dropdown-icon" ng-class="{'pull-right': step.who == 'user'}">
              <li role="menuitem"><a href="#">Add example to @intent</a></li>
              <li role="menuitem"><a href="#">Create new intent from example</a></li>
            </ul>
          </div>
        </li>
      </ol>
    </section>
    <footer>
      <input type="text" placeholder="Ask Watson" aria-label="Ask Watson"/>
    </footer>
  </aside>
</div>
